* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  min-width: 800px;
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
nav {
  width: 230px;
  background-color: #fafafc;
  z-index: 2;
  position: fixed;
  height: 100vh;
  box-shadow: 0 0 8px rgb(207, 206, 207);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Logo Education */
.menu_top {
  height: 65px;
  font-size: 26px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #4c4bfe;
}

/* Menu chính */
.menu_mid {
  display: flex;
  justify-content: center;
  padding: 0 35px;
  margin-bottom: 100px;
}

.menu_main {
  width: 100%;
}

.menu_main .i_normal {
  font-size: 20px;
  min-width: 42px;
  transition: 0.25s;
}

.menu_main .li1 {
  height: 50px;
  max-height: 70px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  transition: 0.5s;
}
.menu_main a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  font-size: 13.5px;
  transition: 0.15s;
  height: 100%;
  width: 100%;
}

.menu_main > li:hover > a {
  font-size: 17px;
  color: #4c4bfe;
  font-weight: 600;
}

/* Menu chính hiệu ứng JS */
.menu_main .to {
  font-size: 17px;
  color: #4c4bfe;
  font-weight: 600;
}

.menu_main .i_to {
  color: #4c4bfe;
  font-size: 23px;
}

.test {
  border-radius: 9px;
  box-shadow: 0 4px 7px #5d5dfc;
}

.menu_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 100px;
}

.menu_img > img {
  height: 100px;
}

/* SECTION */
section {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  height: 100%;
}

/* Trên  */
header {
  width: 100%;
  height: 7%;
  box-shadow: 0px 0 15px #e0e0e0;
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 0 50px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: white;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  width: 250px;
  border-radius: 10px 25px 50px 10px;
  background-color: #00dba4;
}

.account {
  display: flex;
  font-size: 14.5px;
  font-weight: 600;
  color: #818181;
  align-items: center;
}

.account i {
  font-size: 23px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 5px #b9b9fc;
  color: #4c4bfe;
  border: 1px solid #4c4bfe;
}

/* Content  */
.con {
  flex: 1;
  z-index: 0;
  height: auto;
  display: flex;
  width: 100%;
  position: absolute;
  height: 93%;
  top: 65px;
}

/*Section Menu content  */

.menu {
  height: 100%;
  width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 10px #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 50px 30px 80px 30px;
  box-sizing: border-box;
}

.infor_animation {
  animation: animation_infor 0.7s ease-out forwards;
}

@keyframes animation_infor {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.infor_main {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 30px 30px 30px 25px;
  box-sizing: border-box;
  animation: animation_infor 0.7s ease-out forwards;
  /* box-shadow: 3px 7px 15px rgb(228, 226, 225); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: #818181;
  border: 1px solid rgb(238, 236, 236);
  box-shadow: 0 0 8px rgb(230, 229, 229);
}

.infor_main img {
  height: 80px;
}

.giaoVien_infor h3{
  overflow: hidden;
}

.class_infor h3,.class_infor b{
  transition: .2s;
}

.class_infor a:hover b{
  font-size: 90px;
}

.class_infor a:hover h3{
  font-size: 20px;
  color: #4c4bfe;
}

.infor_teacher {
  background-color: rgb(255, 255, 255);
  color: #818181;
}

.infor_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infor_content p {
  height: 30px;
  background-color: #f90;
  line-height: 30px;
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.infor_hidden {
  display: none;
}

/* Section content */
.content {
  background-color: #fafafc;
  width: 100%;
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: auto;
}

/* Bổ sung */
.content_home {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    margin: 21px 0;
    background-color: white;
    padding: 30px;
}
.content_tieude{
  display:inline;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.content_tieude  p{
    margin: 21px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(236, 235, 235);
    background-color: white;
    padding: 30px;
  	color: red;
	
}

.content_tieude h1 {
  font-size: 27px;
  color: rgb(39, 39, 39);
  font-weight: 700;
}

.giaoVien h3 {
  color: #292929;;
  font-weight: 550;
}

.class_infor {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: hidden;
}

.giaoVien {
  width: 230px;
  overflow: hidden;
  margin-right: 80px;
}

.giaoVien b{
  border-radius: 20px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.giaoViena b {
  background-image: linear-gradient(to bottom right, #2e3192, #1bffff);

}

} 
.giaoVienb b {
  background-image: linear-gradient(to bottom right, #d4145a, #fbb03b);
}
.giaoVienc b {
  background-image: linear-gradient(to top left, #00537e, #3aa17e);
}
.giaoViend b {
  background-image: linear-gradient(to top right, #93278f, #00a99d);
}


.giaoVientunhien b{
  background-image: linear-gradient(to bottom right, #b066fe, #63e2ff);
}
.giaoVienxahoi b{
  background-image: linear-gradient(to top right, #662d8c, #ed1e79);
}
.giaoVien6 b{
 background-image: linear-gradient(to top right, #3a3897, #a3a1ff);
}
.giaoVien7 b{
 background-image: linear-gradient(to top right, #45145a, #ff5300);
}
.giaoVien8 b{
 background-image: linear-gradient(to bottom right, #b066fe, #63e2ff);
}
.giaoVien9 b{
 background-image: linear-gradient(to bottom right, #009e00, #fafa21);
}


.giaoVien_infor{
    padding: 0 5px;
}

.giaoVien_infor > h3 {
  margin: 18px 0 15px 0px;
  color: rgb(65, 64, 64);
  font-weight: 450;
}

.giaoVien_infor i {
  padding: 3px;
  margin-right: 7px;
  border-radius: 7px;
  font-size: 13px;
  color: #666;
}

.giaoVien_infor i.lop_icon{
  border: 1.5px solid rgb(145, 145, 145);
}

.giaoVien_infor i.gv_icon{
  font-size: 16px;
}

.giaoVien_infor i.hs_icon{
  font-size: 16px;
}

.giaoVien_infor p {
  color: #666;  
}


@media screen and (max-width: 1680px){
	.class_infor {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 1215px){
	.menu{
    display: none;
  }
}

@media screen and (max-width: 890px){
	nav{
    width: 100px;
  }
  section{
    margin-left: 100px;
  }
  .menu_top p{
    display: none;
  }
  .menu_main p{
    display: none;
  }
  .menu_main i{
    margin: 0;
    text-align: center;
  }

  .menu_mid{
    padding: 20px;
  }
}